.under_bar {
    border-bottom:0px #272822 solid;
    margin-bottom:4px;
    margin-top:5px;
}
/* 링크에서 밑줄 없애기 */
a { text-decoration:none }

/* 마우스 지나갈 때만 삭제 + 강제로 없애기 */
a:hover { text-decoration:none !important }

.table-view-cell {
 display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 28px;
    width:100%;
        padding: 11px 0px 11px 15px;
}

.navigate-right:after, .push-right:after {
    right: 5px;
   
}
.title {
	line-height: 44px; display: table-cell;
	  display: flex;
    justify-content: center;
    align-items: center;

    display: flex;
    
}
.block-title {
    color: rgba(0,0,0,.54);
    margin: 5px 16px 5px;
    
}
.amo_header {
  
    display: flex;
    justify-content: space-between;
    align-items: center;

}